---
import "../../styles/nav.css";
---

<nav class="navbar">
    <div class="navbar-content">
        <div class="navbar-inner">
            <div class="navbar-brand">
                عبدالرحمن شاهين
            </div>
            <div class="navbar-links">
                <a href="/#about" class="navbar-link">نبذة</a>
                <a href="/#work" class="navbar-link">أعمال</a>
                <a href="/#articles" class="navbar-link">مقالات</a>
                <a href="/#contact" class="navbar-link">تواصل</a>
            </div>
        </div>
    </div>
</nav>
