---
import "../../styles/footer.css";
---

<footer class="footer">
    <div class="footer-container">
        <div class="footer-content">
            <div class="footer-copyright">
                حقوق الملكية لدي عبدالرحمن شاهين.
            </div>
            <div class="footer-credit">صُمم وطُور بـ ❤️ في مصر</div>
        </div>
    </div>
</footer>