---
import Nav from "../layout/Nav.astro";
import Hero from "./Hero.astro";
import About from "./About.astro";
import Work from "./Work.astro";
import Articles from "./Articles.astro";
import Contact from "./Contact.astro";
import Footer from "./Footer.astro";
---

<div class="page-container">
    <Nav/>

    <Hero/>

    <About/>

    <Work/>

    <Articles/>

    <Contact/>

    <Footer/>
</div>